<div style="margin:10px">
    <div style="text-align:center">
        <span id="loginarea">
            <div id="loginprompt">
                Please login to your Open Humans account
            </div>
            <div class="logincredentialarea">
                <div style="margin-top:5px">
                    <div class="credentialitemarea">
                        <input class="credentialitem" type="text" id="logincredentialusername" placeholder="Username">
                    </div>
                    <div class="credentialitemarea">
                        <input class="credentialitem" type="password" id="logincredentialpassword"
                            placeholder="Password">
                    </div>
                </div>
                <div style="position: absolute; left: 0px; right: 0px; bottom: 15px;">
                    <span class="bodybtn" (click)="updateLoginStatus(2)">Why Open Humans</span>
                    <span style="width:30px; display:inline-block"></span>
                    <span class="bodybtn" (click)="updateLoginStatus(2)">Login</span>
                </div>
            </div>
        </span>
    </div>
</div>