<div id="settingArea">
    <div *ngFor="let settingOption of settingOptions; let settingOptionIndex = index;trackBy:trackByIndex;"
        class="settingItem">
        <h3>{{settingOption.groupTitle}}</h3>
        <div *ngFor="let setting of settingOption.settings; let settingIndex = index;trackBy:trackByIndex;"
            [ngSwitch]="setting.type">
            {{setting.settingName}}
            <p-colorPicker *ngSwitchCase="'colorPicker'"
                [(ngModel)]="this.settings.styleTheme[this.settingOptions[settingOptionIndex].styleGroup][this.settingOptions[settingOptionIndex].settings[settingIndex].path.element][this.settingOptions[settingOptionIndex].settings[settingIndex].path.property]"
                (onChange)="settingChanged()"></p-colorPicker>
            <span *ngSwitchCase="'imagePicker'">
                <p-dropdown [options]="imageSelectorOptions"
                    [(ngModel)]="this.settings.styleTheme[this.settingOptions[settingOptionIndex].styleGroup][this.settingOptions[settingOptionIndex].settings[settingIndex].path.element][this.settingOptions[settingOptionIndex].settings[settingIndex].path.property]"
                    (onChange)="settingChanged()" filter="true">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="width: 90px;height: 90px; display:inline-block" *ngIf="item.label==='None'"
                            [ngStyle]="{'background-image': 'url(assets/none.jpg)', 'background-size': '90px'}"></span>
                        <span style="width: 90px;height: 90px; display:inline-block" *ngIf="item.label!=='None'"
                            [ngStyle]="{'background-image': this.settings.styleTheme[this.settingOptions[settingOptionIndex].styleGroup][this.settingOptions[settingOptionIndex].settings[settingIndex].path.element][this.settingOptions[settingOptionIndex].settings[settingIndex].path.property]}"></span>
                        <!-- <img src="item.value" style="width:16px;vertical-align:middle" /> -->
                        <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 35px;">
                            <span style="width: 35px;height: 35px; display:inline-block" *ngIf="item.label==='None'"
                                [ngStyle]="{'background-image': 'url(assets/none.jpg)', 'background-size': '35px'}"></span>
                            <span style="width: 35px;height: 35px; display:inline-block" *ngIf="item.label!=='None'"
                                [ngStyle]="{'background-image': this.settings.styleTheme[this.settingOptions[settingOptionIndex].styleGroup][this.settingOptions[settingOptionIndex].settings[settingIndex].path.element][this.settingOptions[settingOptionIndex].settings[settingIndex].path.property]}"></span>
                            <div style="font-size:14px;float:right;margin-top:4px">{{item.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </span>
        </div>
    </div>
</div>