<div *ngFor="let navItem of items" (click)="navItemClicked(navItem.identifier)"
    [ngClass]="(navItem.identifier==currentVisiblePage)?'navbaritemselected':'navbaritem'"
    [ngSwitch]="navItem.identifier">
    <ng-container >
        <span *ngSwitchCase="'experiences'" class="navbaritemicon"><i class="pi pi-comment"></i></span>
        <span *ngSwitchCase="'tips'" class="navbaritemicon"><i class="pi pi-info"></i></span>
        <span *ngSwitchCase="'settings'" class="navbaritemicon"><i class="pi pi-cog"></i></span>
        <span *ngSwitchCase="'about'" class="navbaritemicon"><i class="pi pi-question"></i></span>
    </ng-container>
    <span class="navbaritemlabel">
        {{navItem.label}}
    </span>

 
</div>