#main{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 230px;
    right: 0px;
    font-size: 24px;
    padding: 10px;
}
#navbar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 230px;
    /* background-color: #1f2a51; */
}
